  p {
    color: blue;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    color: blue;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    color: blue;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }

.instructionBox {
	margin: 0 auto;
	width:90%;
	text-align:center;
}
#gameboard {
	margin: 0 auto;
	width:70%;
}
#letsplay {
	position:relative;
	width:200px;
	margin: 0 auto;
}
.card:after {
  content: "";
  display: table;
  clear: both;
}

[class*='Row'] {
  float: top; 
  padding-top: 50px;
}
/*.row1 .row2 .row3 .row4 {
	width: 100%;
	background-color:blue;
}*/

.card {
	border-radius: 10px;
	display:inline-block;
	margin:2px;
	height:211px;
	width: 150px;
}

.facedown {
	background-image: url('http://cdn.bulbagarden.net/upload/thumb/1/17/Cardback.jpg/150px-Cardback.jpg');
/*background-color:blue;*/
}

.faceup {
	background-color: black;
	border:7px solid black;
}

.helper{
	display:inline-block;
	height: 100%;
	vertical-align:middle;
}

img {
	vertical-align:middle;
	max-height:211px;
	width:136px;
}

h5 {
	font-family:impact;
	font-size: 100px;
	margin:0 auto;
	width: 300px;
	text-align:center;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}